div.box-test{
    border: 1px solid blue;
    width: 300px; 
    height: 200px;
    display: inline-block;
    padding: 50px;
    margin: 50px;
}

#title{
    color: red;
}

p.p_html{
    color: blue;
    text-align: left;
}

.p_css{
    color: green;
    text-align: center;
}

.p_php{
    color: pink;
    text-align: right;
}

.ol_test{
    list-style-position: inside;
    list-style-image: url(../image/icon.png);
}