<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>
    <div class="frame">
        <h1 class="frame__title">JavaScript</h1>

        <div class="frame__inner">
            <!--
            <div id="app">
                {{message}}
            </div>
            <div id="app-2">
                <span v-bind:title="message">
                    Hover your mouse
                </span>
            </div>
            <div id="app-3">
                <span v-if="seen">Now you see me</span>
            </div>
            <div id="app-4">
                <ol>
                    <li v-for="todo in todos">
                        {{todo.text}}
                    </li>
                </ol>
            </div>
            <div id="app-5">
                <p>{{message}}</p>
                <button v-on:click="revStr">rev message</button>
            </div>

            <div id="app-6">
                <p>{{message}}</p>
                <input type="text" v-model="message">
            </div>
            <div id="app-7">
                <ol>
                    <todo-item v-for="done in items" v-bind:todo="done" v-bind:key="done.id"></todo-item>
                </ol>
            </div>
            -->
            <!--コンポーネント使って部品化していく
            <div id="app">
                <app-nav></app-nav>
                <app-view>
                    <app-sidebar></app-sidebar>
                    <app-content></app-content>
                </app-view>
            </div>
            -->
            <div id="app-8">
                <ol>
                    <todo-item1 v-for="done in items" v-bind:todo="done" v-bind:key="done.id"></todo-item1>
                </ol>
            </div>


            <div id="app-10">
                <date></date>
                <clock></clock>
                <clock style="color: red;">現在時刻</clock>
                <hr>
                <!-- <input type="number" v-model="num"> -->
                <!-- <num></num> -->
            </div>
            <!-- ここに、JavaScriptを記述します -->
            <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script>
                //ローカル定義
                var dateComp = {
                    data: function () {
                        return {
                            today: '2020/09/14'
                        }
                    },
                    // props: {
                    //     'today': String
                    // },
                    // mounted: function () {

                    //     const now = new Date();
                    //     this.today = `${now.getFullYear()}/${now.getMonth() + 1}/${now.getDate()}`;
                    //     // this.today = `${now.getFullYear()}/${now.getMonth()+1}/${now.getDate()}`;

                    // },
                    template: '<div>{{today}}</div>'
                }
                var Util = {
                    methods: {
                        addZero: function (value) {
                            if (value < 10) {
                                return '0' + value;
                            } else {
                                return value;
                            }
                        }
                    },
                }
                //ローカル定義
                var clock = {
                    data: function () {
                        return {
                            time: '12:30:45',
                            // title: '時計'
                            // message:'test'
                        }
                    },
                    // props: {
                    //     'today': String
                    // },
                    mounted: function () {
                        let timer = setInterval(this.refresh, 500);
                        this.refresh
                        // const now = new Date();
                        // this.message = this.addZero(now.getSeconds())
                    },
                    methods: {
                        refresh: function () {
                            const now = new Date();
                            this.time = `${this.addZero(now.getHours())}:${this.addZero(now.getMinutes())}:${this.addZero(now.getSeconds())}`;
                        }
                    },

                    // template: '<div style="color:blue"><h2>{{title}}</h2>{{time}}</div>'
                    // template: '<div style="color:blue"><h2><slot>時計</slot></h2>{{time}}</div>'
                    mixins:[Util],
                    template: '<div v-bind:style=""><h2><slot>{{時計}}</slot></h2>{{time}}</div>'
                }

                var num = {
                    data: function () {
                        return {
                            num: 7
                        }
                    },
                    mounted: function () {
                        // if(this.num < 10){
                        //     this.num = '0' + this.num;
                        // }
                        // this.num = this.addZero(this.num);
                    },
                    // mixins: [Util],
                    template: '<div>{{num}}</div>'
                }
                var app10 = new Vue({
                    el: '#app-10',
                    components: {
                        'date': dateComp,
                        'clock': clock,
                        'num': num,
                        'Util':Util,
                    },
                    data: {

                    }
                })


                var app6 = new Vue({
                    el: '#app-6',
                    data: {
                        message: 'hello'
                    }
                })
                var app = new Vue({
                    el: '#app',
                    data: {
                        message: 'Helloworld'
                    }
                })
                var app2 = new Vue({
                    el: '#app-2',
                    data: {
                        message: 'You Loaded' + new Date().toLocaleString()
                    }
                })
                var app3 = new Vue({
                    el: '#app-3',
                    data: {
                        seen: false
                    }
                })
                var app4 = new Vue({
                    el: '#app-4',
                    data: {
                        todos: [
                            { text: 'test1' },
                            { text: 'test2' },
                            { text: 'test3' },
                        ]
                    }
                })
                var app5 = new Vue({
                    el: '#app-5',
                    data: {
                        message: "apple"
                    },
                    methods: {
                        revStr: function () {
                            this.message = this.message.split('').reverse().join('')
                        }
                    }
                })
            </script>
        </div>
    </div>
</body>

</html>